<%- include("partials/header") %>

<div class="container">
	<!-- Creating a single column as we only have 1 element -->
	<div class="row">
		<div class="col-lg-12"> 
			<!-- Creating this div in order to center all the elements in this div -->
			<div id="content">
				<h1 class="white-headings brand-name-style">Quizzed Up</h1>
				<h3 class="white-headings">$()LVE THE UN$()LV@BLE</h3>
				<hr class="ruler-style">
				<a href="/quizzes">
					<button class="btn btn-lg btn-primary"><i class="fas fa-play-circle"></i> Let's Begin!</button>
				</a>
			</div>
		</div>
	</div>
</div>

<%- include("partials/footer") %>